# Ignorar los archivos descargados
data/indices/*
data/processed/*
data/raw/*
data/zones/*

# Ignorar los archivos de ambiente de python
myenv/*

# Ignorar las llaves de la API
src/scripts/keys.py

# Ignorar los archivos de configuración
src/config.py

# Ignorar los archivos del cahce de python
src/scripts/__pycache__/